.container {
  background-color: red;
  display: flex;
}
.bar {
  background-color: red;
}
.sample {
  flex: 1 1 auto;
}
.text {
  font-size: 20px;
  font-family: aerial;
}
.menu-icon {
  background-color: red;
  color: black;
  border: none;
}
.search-icon {
  background-color: red;
  color: black;
  border: none;
}
.favorite-icon {
  background-color: red;
  color: black;
  border: none;
}
.share-icon {
  background-color: red;
  color: black;
  border: none;
}
.home-icon {
  background-color: red;
  color: black;
  border: none;
}
.search-icon {
  background-color: red;
  color: black;
  border: none;
  font-size: 40px;
  cursor: pointer;
}
.product-link {
  background-color: red;
  border: none;
  font-size: larger;
}
