:host{
.product-image-block, .product-heading, .product-labels{
    text-align: center;
    width : 100%;
  }
  .product-image-block{
    img {
      max-width: 100%;
      height:auto;
    }
  }
  .product-labels{
    display: flex;
    justify-content:center;
    padding: 20px;
    .product-label{
      padding-left: 15px;
    }

  }
}
@media(max-width:500px){
  .product-center{
    display: flex;
    justify-content:center;
    flex-flow: wrap;
.product-image-block, .product-heading, .product-labels{
      text-align: center;
      width : 100%;
    }
  }
}
.form-group{
  display: flex;
  padding: 20px;
  width : 100%;
  min-width: 120px;
  flex-flow: wrap;
  text-align: center;


}
.btn {
  background-color: aquamarine;
  border: none;
  color:black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
