<div class="product-heading">
<h1>{{product.title}}</h1>
</div>
<div class="product-image-block">
  <img [src]="product.images[0]">
</div>
<div class="product-labels">
  <b>Price:</b>
  <span>{{product.price}}</span>
</div>
<div class="product-labels">
<b>Brand:</b>
<span>{{product.brand}}</span>
</div>
<div class="product-labels">
  <b>Category:</b>
  <span>{{product.category}}</span>
</div>
<div class="product-labels">
  <b>Description:</b>
  <span>{{product.description}}</span>
</div>
<div class="product-labels">
<b>Stock:</b>
<span>{{product.stock}}</span>
</div>
<div class="product-labels">
<b>Discount Percentage::</b>
<span>{{product.discountPercentage}}</span>
</div>
<div class="product-labels">
<b>Rating:</b>
<span>{{product.rating}}</span>
</div>
