<div class="product-center">
<div class="product-heading">
<h1>{{product.title}}</h1>
</div>
<div class="product-image-block">
  <img [src]="product.images[0]">
</div>
<div class="product-labels">
  <label>Price:</label>
  <p>{{product.price}}</p>

</div>
<div class="product-labels">
  <label>Category:</label>
  <p>{{product.category}}</p>

</div>
<div class="product-labels">
  <label>Description:</label>
  <p>{{product.description}}</p>

</div>
<div class="product-labels">
<label>Stock:</label>
<p>{{product.stock}}</p>

</div>
<div class="product-labels">
<label>Brand:</label>
<p>{{product.brand}}</p>

</div>

</div>
